<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Stream</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="home.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<br>

<div class="container center">


    <!--
    TODO
     For display Stream we'd like it to look like this:
     It should have how long it's been recording for,
     Also what show it's currently recording, how long left for that show,
     maybe also what's the next show?
     A button to the output directory of the stream
     Stop and start recording
    -->

    <div id="addNewStreamDiv">
        <h4>Add New Stream</h4>

        <div class="row">
            <p>Here is where information will go</p>
            <div class="input-field s1 col s4">
                <textarea class="materialize-textarea" id="streamNameTextArea"></textarea>
                <label for="streamNameTextArea">Stream Name</label>
            </div>
            <div class="input-field col s4">
                <textarea class="materialize-textarea" id="addPlayListURLTextArea"></textarea>
                <label for="addPlayListURLTextArea">m3u8 Playlist URL</label>
            </div>
            <div class="input-field col s4">
                <textarea class="materialize-textarea" id="scheduleTextArea"></textarea>
                <label for="scheduleTextArea">Schedule</label>
            </div>
            <button class="waves-effect waves-light btn pink darken-4" id="addStreamButton">Add Stream</button>
        </div>
    </div>
</div>

</body>
<script src="home.js"></script>
</html>