<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HLS2VOD</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

<div class="container center nav-wrapper">
    <h1>HLS 2 VOD</h1>

    <button class="waves-effect waves-light btn pink darken-4" id="alJazeera">AlJazeera</button>
    <button class="waves-effect waves-light btn pink darken-4" id="alHiwar">AlHiwar</button>
    <button class="waves-effect waves-light btn pink darken-4" id="alAraby">AlAraby</button>

    <form class="col s12">
        <div class="row">
            <div class="input-field s1 col s12">
                <textarea class="materialize-textarea" id="streamNameTextArea"></textarea>
                <label for="streamNameTextArea">Stream Name</label>
            </div>
            <div class="input-field col s12">
                <textarea class="materialize-textarea" id="addPlayListURLTextArea"></textarea>
                <label for="addPlayListURLTextArea">m3u8 Playlist URL</label>
            </div>
            <div class="input-field col s12">
                <textarea class="materialize-textarea" id="scheduleTextArea"></textarea>
                <label for="scheduleTextArea">Schedule</label>
            </div>
            <div class="input-field col s12">
                <textarea class="materialize-textarea" id="offsetSecondsTextArea"></textarea>
                <label for="offsetSecondsTextArea">m3u8 Playlist URL</label>
            </div>
        </div>
    </form>
</div>

</body>
<script src="main.js"></script>
</html>