<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HLS2VOD</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="home.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<header>
    <h1>HLS 2 VOD</h1>
</header>

<br>

<div class="container center">

    <h3>All Streams</h3>

    <div id="allStreamsDiv">

    </div>

    <template id="displayStreamTemplate">
        <div id="displayStreamDiv">
            <h5 id="streamNameText">Stream Name</h5>
            <div class="row">
                <div class="col s6">
                    <p id="currentShowText">Current Show</p>
                </div>
                <div class="col s6">
                    <p id="nextShowText">Next Show</p>
                </div>
                <div class="col s6">
                    <p id="recordingText">Recording...</p>
                </div>
                <div class="col s6">
                    <p id="recordingButton">Stop start recording Button</p>
                </div>
                <div class="col s6">
                    <p id="outputButton">View output Button</p>
                </div>
                <div class="col s6">
                    <p id="editStreamButton">Edit Stream Button</p>
                </div>
            </div>
        </div>
    </template>

    <button class="waves-circle waves-effect waves-light btn-floating btn-large pink darken-4 tooltipped"
            data-position="bottom"
            data-tooltip="Add new Stream" id="addStreamButton">
        <i class="material-icons">add</i>
    </button>
</div>

</body>
<script src="home.js"></script>
</html>